{% extends 'seller/seller_master.html'%}
{% load static %}
{% block content %}
<h3>SELL PRODUCTS ONLINE ON CYBERSHOP</h3>
<div class="container" style="margin-top: 3em;">
    <div class="row">
       <div class="col-md-12" class="text-center">
           <h4>Why Sell PRODUCTS On CYBERSHOP?</h4>
       </div>
       
    <div class="row bg-warning text-center p-5 text-white border-bottom shadow">
        <h1> Learn More About Selling PRODUCTS</h1>
    
    </div>
    <div class="col-md-1"></div>
 
    <div class="col-md-1"></div>
    <div class=" text-left">
    <h5>How Do I Sell PRODUCTS Online?</h5>
{% comment %}   
    <h5>How Do I Sell Product Online?</h5> {% endcomment %}
    <br><p>To sell books online, begin by identifying the types of books you want to sell. Your store could sell a variety of books, or you could sell books centred around a specific topic like used books, textbooks, and even antique books. You can then use a Shopify theme to easily start a store and upload pictures and descriptions of your books in minutes.</p>
     <br><hr><br>
    
     <h5>Where Can I Sell product ONline?</h5><br>
     <p>Shopify is an excellent place to sell books online, as you’ll have complete control over your brand, marketing, and customer experience. Shopify can even help integrate with social media platforms like Facebook Marketplace to help drive additional sales.</p>
    <br><hr><br>
   
    <h5>Can I Sell product On Online Book Store</h5><br>
    <p>Yes, many book store owners trust Shopify to power their online stores. With Shopify, merchants can benefit from over 6,000 Shopify apps to help modernize book shopping experiences. That includes offering your customers personalized book recommendations, running a store-linked email newsletter, and more.</p>
     <br><hr><br>
     
     <h5>How Do I Price product?</h5><br>
     <p>The best way to price your books is to look at what your competition is charging for the same books or similar books. You can then decide on whether your pricing strategy will seek to undercut your competition, or sell at a higher price. You’ll also need to factor in shipping costs, particularly when dealing with heavier books.</p>
     <br><hr>
    </div>
</div>

</div>
   
        
      

    
        
     
{% endblock %}